@import "src/variables.scss";

button[type="button"] {
  background: none;
  color: #0b64ff;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}
button[type="button"]:hover {
  text-decoration-line: underline;
}
button[type="submit"] {
  background-color: $secondary;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 500ms;
}
button[type="submit"]:hover {
  background-color: $secondary;
  color: white;
  border: none;
  border-radius: 0.8rem;
  text-decoration-line: underline;
}
button[type="submit"]:disabled {
  background-color: $contrast;
  cursor: not-allowed;
  text-decoration-line: none;
  border-radius: 0.3rem;
}

hr {
  border: 0;
  height: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}