// Color scheme
$primary: #303197;
$secondary: #ff4d50;
$contrast: #f6f3f7;

// Font scheme
$defaultFontSize: 16px; 
$defaultFontFamily: sans-serif;
$defaultFontColor: #444;
$questionFont: 2.5rem;
$rangeTickFontSize: 1.2rem;
$rangeTickFontWeight: 600;

// Result page
$verticalResult: true;